.landing-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 768px;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-lg);
  gap: var(--space-lg);
  text-align: center;
}

.landing-page header {
  margin-bottom: 3rem;
  width: 100%;

  & h1, p {
    display: none;
  }

  & .brolly-logo {
    height: 8rem;
    width: 100%;
    
    & path {
      fill: var(--primary);
    }
  }
}

.landing-page main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-lg);
  width: 100%;
}

.landing-page footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: var(--space-lg);
}

@media (max-width: 768px) {

  .landing-page {
    min-width: 100%;
    min-height: 100%;
  }
  .landing-page footer .theme-settings {
    min-width: 100% !important;
  }
}