.location-page main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-width: 768px;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-lg);
  text-align: center;
}

footer.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--space-lg);

  & p {
    width: 50%;
    font-size: var(--font-size-sm);
    margin-bottom: var(--space-sm);
    text-align: center;
  }
}

@media (max-width: 768px) {

  .location-page main {
    min-width: 100%;
  }

  footer.fixed-bottom p {
    font-size: var(--font-size-xs);
    width: 100%;
  }

}