.weather-display{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
}

.weather-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

  .current-expected {
    padding: 20px;
    border-radius: 30px;
    background-color: #D9D9D9;
  }