.current-weather {
  background-color: #f7f7f7;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 160px;
  width: 450px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.current-weather .weather {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.current-weather h2 {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}
.current-weather .weather img {
  width: 80px;
  height: 80px;
}
.current-weather .weather p {
  font-size: 64px;
  display: inline;
  margin: 0;
}
