.current-weather {
    background-color: #f7f7f7;
    padding: 20px;
    margin: 20px;
    border-radius: 30px;
    text-align: center;
}
.current-weather .weather {
    display: inline-block;
}
.current-weather .weather h2 {
    font-size: 24px;
    margin: 0;
}
.current-weather .weather img {
    width: 100px;
    height: 100px;
}
.current-weather .weather p {
    font-size: 18px;
    display: inline;
}