.geo-link-text {
  display: flex;
  padding: var(--space-sm) var(--space-lg);
  border-radius: var(--border-radius-md);
  background-color: var(--background-tertiary);
  color: var(--text-primary);
}

.geo-link-icon {
  background-color: var(--background-tertiary);
  padding: var(--space-sm);
  border-radius: var(--border-radius-md);

  & .location-geo path {
    stroke: var(--text-secondary);
  }
}