.modal-page {
  z-index: 100;
  min-width: 100vw;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: var(--background-base);
  position: fixed;
  top: 0;
  transition: all 0.3s ease-in-out;
  transition-duration: 5s;
}

.modal-close {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: var(--space-sm);
  background-color: var(--background-light);
  padding: var(--space-sm);
  border-radius: var(--border-radius-md);
  position: fixed;
  bottom: 0;
  margin-bottom: var(--space-md);

  & img {
    width: 1.5rem;
  }
}