.theme-toggle.toggle-button {
  background-color: var(--background-tertiary);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-sm);
  border: none;
  
  span {
  color: var(--text-secondary);
  }

  span.active {
  color: var(--text-primary);
  }

  span.toggle-divider {
    color: var(--primary);
  }
}