.toggle-button {
  background-color: var(--background-tertiary);
  padding: var(--space-xs) var(--space-sm);
  border-radius: var(--border-radius-md);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-sm);
  border: none;
}

.toggle-button span {
  color: var(--text-secondary);
}

.toggle-button span.active {
  color: var(--text-primary);
}