/* CSS Variables Template */
:root {
  /* Colours */
  --text-base: #333;
  --text-light: #666;
  --text-dark: #333;
  --background-base: #ffffff;
  --background-light: #f7f7f7;
  --background-dark: #d9d9d9;

  /* Typography */
  --font-family-base: "Outfit", 'Arial Black', sans-serif;
  --font-size-xs: 0.75rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 3rem;
  --font-size-base: var(--font-size-md);
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;
  --line-height: 1.5;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* Borders */
  --border-radius-sm: 1rem;
  --border-radius-md: 2rem;
  --border-radius-lg: 3rem;

  /* Transitions */
  --transition-duration: 0.2s;
  --transition-timing-function: ease-in-out;
  --transition: all var(--transition-duration) var(--transition-timing-function);
}

/* Setting Styles */
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--text-base);
  line-height: var(--line-height);
  background-color: var(--background-base);
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semi-bold);
}
h3 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
}
h4 {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--text-light);
}

p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--text-light);
}

/* ErrorBoundary Styles */
.ErrorBoundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.not-found {
  margin-top: var(--space-lg);

  & a, a:visited {
    text-decoration: none;
    color: powderblue;
  }
}

/* Search Page Layout */
.search-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  min-width: 768px;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-lg);
  text-align: center;
}

.search-page header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8rem;
  margin-top: 25%;

  & h1, p {
    display: none;
  }

  & img {
    height: 100%;
  }

}

.search-page .error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-lg);
  padding: var(--space-sm);
  border-radius: var(--border-radius-sm);
  background-color: rgba(217, 83, 79, 0.1);
  margin-bottom: calc(var(--space-md) * -1);
  
  & p {
    font-size: var(--font-size-xs);
    color: var(--text-light);
  }
}

.search-page .search-placeholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: var(--space-xl);
  background-color: var(--background-light);
  padding: var(--space-lg);
  border-radius: var(--border-radius-md);
  gap: var(--space-md);
  height: 4rem;
}

.search-page .search {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  width: 50%;
  margin-top: var(--space-xl);

  & .search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    background-color: var(--background-light);
    padding: var(--space-lg);
    border-radius: var(--border-radius-md);
    gap: var(--space-md);
    width: 100%;
    height: 4rem;
    
    & img {
      width: 1.5rem;
    }

    & input {
      border: none;
      background: transparent;
      outline: none;
      width: 100%;
    }

    & input::placeholder {
      color: var(--text-light);
      font-style: italic;
    }

  }

  & .search-suggestion {
    list-style: none;
    background-color: var(--background-light);
    padding: var(--space-md);
    border-radius: var(--border-radius-md);
    font-size: var(--font-size-sm);
    width: 100%;
    
    & li {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: start;
      gap: var(--space-sm);
      padding: var(--space-xs) var(--space-sm);
      border-radius: var(--border-radius-sm);
      cursor: pointer;
      transition: var(--transition);
      font-style: italic;
      color: var(--text-dark);

      &:hover {
        background-color: var(--background-dark);

        & p {
          color:black;
        }

        & span {
          color: white;
        }
      }

      & span {
        color:gray;
      }
    }
    
  }

}


/* Weather Page Layout */
.weather-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 768px;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  padding: var(--space-lg);
  text-align: center;
  text-wrap: balance;
}

.weather-page header {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
  width: 100%;
  height: 6rem;

  & h1 {
    display: none;
  }

  & img {
    height: 100%;
  }

  & .search {
    background-color: var(--background-light);
    padding: var(--space-sm);
    border-radius: var(--border-radius-md);

    & img {
      width: 1.5rem;
    }

  }
}

.weather-page .content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: var(--space-lg);
}

.weather-page .brolly {
  width: 50%;
  padding: var(--space-lg);
  border-radius: var(--border-radius-lg) 0 0 var(--border-radius-lg);
  background-color: var(--background-light);

  & .question {
    display: block;
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-regular);
    color: var(--text-light);
  }

  & .answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    margin-top: var(--space-md);
  }

  & .answer h3 {
    font-size: var(--font-size-xl);
  }

  & .answer p {
    font-size: var(--font-size-base);
  }
}

.weather-page .weather {
  padding: var(--space-lg);
  border-radius: var(--border-radius-lg);
  width: 50%;
  background-color: var(--background-dark);

  & .current {
    background-color: var(--background-light);
    padding: var(--space-lg);
    border-radius: var(--border-radius-md);
    margin-bottom: var(--space-lg);

    & h2 {
      font-size: var(--font-size-md);
    }

    & .details {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: var(--space-md);
      gap: var(--space-md);

      & img {
        width: 6rem;
      }

      & p {
        font-size: var(--font-size-xl);
        font-weight: var(--font-weight-regular);
      }
    }
  }

  & .expected {
    background-color: var(--background-light);
    padding: var(--space-lg);
    border-radius: var(--border-radius-md);

    & .list {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-top: var(--space-md);
      gap: var(--space-md);

      & .details {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--space-sm);
        flex: 1 1 0;
        min-width: 0;

        & img {
          width: 100%;
        }

        & p {
          font-size: var(--font-size-sm);
        }

      }
    }
  }
}

.location-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.location-info img {
  width: var(--space-sm);
  margin: var(--space-xs)
}

a[data-tooltip].top {
	&:before,
	&:after {
		transform: translateY(10px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateY(0px);
	}
}

a[data-tooltip].right {
	&:before,
	&:after {
		transform: translateX(0px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateX(10px);
	}
}

a[data-tooltip].bottom {
	&:before,
	&:after {
		transform: translateY(-10px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateY(0px);
	}
}

a[data-tooltip].left {
	&:before,
	&:after {
		transform: translateX(0px);
	}
	
	&:hover:after,
	&:hover:before {
		transform: translateX(-10px);
	}
}

a[data-tooltip] {
	position: relative;

	&:after,
	&:before {
		position: absolute;
		visibility: hidden;
		opacity: 0;
		transition: transform 200ms ease, opacity 200ms;
		box-shadow: 0 0 10px rgba(black,0.3);
		z-index: 99;
	}

	&:before {
		content: attr(data-tooltip);
		background: #000;
		color: #fff;
		font-size: 10px;
		font-weight: bold;
		padding: 10px 15px;
		border-radius: 5px;
		white-space: nowrap;
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
    bottom: 37px;
    left: -85px;
	}

	&:after {
		width: 0;
		height: 0;
		border: 6px solid transparent;
		content: '';
    top: -5px;
	}

	&:hover:after,
	&:hover:before {
		visibility: visible;
		opacity: 0.85;
		transform: translateY(0px);
	}
}

// top tooltip
a[data-tooltip][data-position="top"]:before {
	bottom: 100%;
	left: -130%;
	margin-bottom: 10px;
}

a[data-tooltip][data-position="top"]:after {
	border-top-color: #000;
	border-bottom: none;
	bottom: 101%;
	left: calc(50% - 6px);
	margin-bottom: 4px;
}
// left tooltip
a[data-tooltip][data-position="left"]:before {
	top: -12%;
	right: 100%;
	margin-right: 10px;
}

a[data-tooltip][data-position="left"]:after {
	border-left-color: #000;
	border-right: none;
	top: calc(50% - 3px);
	right: 100%;
	margin-top: -6px;
	margin-right: 4px;
}
// right tooltip
a[data-tooltip][data-position="right"]:before {
	top: -5%;
	left: 100%;
	margin-left: 10px;
}

a[data-tooltip][data-position="right"]:after {
	border-right-color: #000;
	border-left: none;
	top: calc(50% - 6px);
	left: calc(100% + 4px);
}

// bottom tooltip
a[data-tooltip][data-position="bottom"]:before {
	top: 100%;
	left: -130%;
	margin-top: 10px;
}

a[data-tooltip][data-position="bottom"]:after {
	border-bottom-color: #000;
	border-top: none;
	top: 100%;
	left: 5px;
	margin-top: 4px;
}




@media (max-width: 768px) {

  :root {
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2.5rem;
  }

  .search-page {
    min-width: 100%;

    & header {
      margin-top: 0;
      height: 6rem;
    }

    & .search {
      width: 100%;;
    }

  }

  .weather-page {
    min-width: 100%;

    & header {
      height: 3rem
    }

    & .search img {
      width: 1rem !important;
    }

    & .content {
      flex-direction: column;

      & .brolly {
        width: 100%;
        background-color: transparent;
        padding: 0;

        & .answer p {
          font-size: var(--font-size-sm);
        }

      }

      & .weather {
        width: 100%;
        padding: 0;
        background-color: transparent;
        margin-top: var(--space-lg);
        
        & .current {
          & img  {
            width: 5rem;
          }
        }
      }
    }
  }

}