/* CSS Variables Template */
:root {
  /* Colours */
  --text-base: #333;
  --text-light: #666;
  --text-dark: #333;
  --background-base: #ffffff;
  --background-light: #f7f7f7;
  --background-dark: #d9d9d9;

  /* Typography */
  --font-family-base: "Outfit", 'Arial Black', sans-serif;
  --font-size-xs: 0.75rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.75rem;
  --font-size-xl: 2.5rem;
  --font-size-base: var(--font-size-md);
  --font-weight-regular: 400;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 800;
  --line-height: 1.5;

  /* Spacing */
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* Borders */
  --border-radius-sm: 1rem;
  --border-radius-md: 2rem;
  --border-radius-lg: 3rem;

  /* Transitions */
  --transition-duration: 0.2s;
  --transition-timing-function: ease-in-out;
  --transition: all var(--transition-duration) var(--transition-timing-function);
}

/* Setting Styles */
body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--text-base);
  line-height: var(--line-height);
  background-color: var(--background-base);
}

h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
}
h2 {
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-semi-bold);
}
h3 {
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-regular);
}
h4 {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  color: var(--text-light);
}

p {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--text-light);
}

a {
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-regular);
  color: var(--text-dark);
  cursor: pointer;
}


/* ErrorBoundary Styles */
.ErrorBoundary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 768px;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
}

.not-found {
  margin-top: var(--space-lg);

  & a, a:visited {
    text-decoration: none;
    color: powderblue;
  }
}


@media (max-width: 768px) {

  :root {
    --space-xs: 0.5rem;
    --space-sm: 0.75rem;
    --space-md: 1rem;
    --space-lg: 1.5rem;
    --space-xl: 2.5rem;
  }

}